.country-list__container {
    font-size: 1.6rem;
    display: grid;
    gap: 1rem;
}

.country-list__item {
    padding: 1rem;

    &:hover {
        cursor: pointer;
        background-color: #d5cad0;
    }

    &.selected {
        background-color: #d5cad0;
    }
}
